<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Uid</th> <th>username</th> <th>sex</th> <th>telphone</th><th>username</th><th>email</th><th>remove user</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.uid}}</td><td>{{user.name}}</td><td>{{user.sex}}</td><td>{{user.telphone}}</td><td>{{user.username}}</td><td>{{user.email}}</td><td><a class = "btn btn-sm btn-danger" href={{url_for("admin.remove_user",uid=user.uid)}}>remove</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>